@model CAS.Models.Education

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Education</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.InstituteName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InstituteName)
                @Html.ValidationMessageFor(model => model.InstituteName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DegreeTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DegreeTitle)
                @Html.ValidationMessageFor(model => model.DegreeTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubjectArea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubjectArea)
                @Html.ValidationMessageFor(model => model.SubjectArea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FromDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromDate)
                @Html.ValidationMessageFor(model => model.FromDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToDate)
                @Html.ValidationMessageFor(model => model.ToDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GradingScale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GradingScale)
                @Html.ValidationMessageFor(model => model.GradingScale)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinalGpa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinalGpa)
                @Html.ValidationMessageFor(model => model.FinalGpa)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>    
    @Html.ActionLink("« English Proficiency", "Information", "EnglishProficiency", null, new { @class = "btn btn-primary btn-large" })
    @Html.ActionLink("Employment Information »", "Index", "Employment", null, new { @class = "btn btn-primary btn-large" })
</div>
